#!/usr/bin/make -f

BASE_URL=http://downloads.asterisk.org/pub/telephony/sounds/releases/
PACKAGE=$(shell sed -e '2,$$d' -e 's/ .*//' debian/changelog)
VERSION=$(shell sed -e '2,$$d' -e 's/^[^(]*(\([^-]*\)-.*)*)*/\1/' debian/changelog |  cut -f 1,2 -d '.')
# Because source package is not downloaded, but built by the get-orig-source
# target which can be on different Debian version (and different tar version),
# the .tar.gz can have different size/md5
# Adding a patch version to the original versioning allow to rebuild same
# version on different OS and have different source package
FAKE_VERSION=$(shell sed -e '2,$$d' -e 's/^[^(]*(\([^-]*\)-.*)*)*/\1/' debian/changelog)
TMPDIR=tmp
FORMATS=gsm g722 wav
TARGET_DIR=..

PKGNAME=$(PACKAGE)-$(FAKE_VERSION)
PKGDIR=$(TMPDIR)/$(PKGNAME)

%:
	dh $@


print-version:
	@echo package: $(PACKAGE)
	@echo version: $(FAKE_VERSION)

get-orig-source:
	rm -rf $(PKGDIR)
	mkdir -p $(PKGDIR)
	set -e ; \
	cd $(TMPDIR); for format in $(FORMATS); do \
	  tarball="$(PACKAGE)-$$format-$(VERSION).tar.gz"; \
	  wget -q -c $(BASE_URL)/$$tarball; \
	  mkdir $(PKGNAME)/$$format; \
	  cd $(PKGNAME)/$$format; \
	    tar xzf ../../$$tarball; \
	  cd ../..; \
	done
	# Remove tarballs: only after a successful download:
	set -e ; \
	cd $(TMPDIR); for format in $(FORMATS); do \
	  tarball="$(PACKAGE)-$$format-$(VERSION).tar.gz"; \
	  $(RM) -f $$tarball; \
	 done
	tar czf $(TARGET_DIR)/$(PACKAGE)_$(FAKE_VERSION).orig.tar.gz \
		-C $(TMPDIR) $(PACKAGE)-$(FAKE_VERSION)
	rm -rf $(TMPDIR)
